version: "3.8"

services:
  app:
    build: .

    ports:
      - "8000:8000"

    command: >
      sh -c "python manage.py migrate --noinput &&
             gunicorn --bind 0.0.0.0:8000 config.wsgi"

    depends_on:
      - db

    environment:
      DATABASE_HOST: db
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USER: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASSWORD}

  db:
    image: postgres:14-alpine

    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
